<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Template File Path -->
        <add key="Path_XbrlTemplatePath" value="D:\Project\XBRLAnalysis-master\XBRL_Templates\"/>
      
        <!-- Template File Name -->
        <add key="File_XbrlInstance" value="XBRL_Instance.xlsx"/>
        <add key="File_XbrlLabel" value="XBRL_Label.xlsx"/>
        <add key="File_XbrlLinkPresentation" value="XBRL_LinkBase_Pre.xlsx"/>
        <add key="File_XbrlLinkDimension" value="XBRL_LinkBase_Dim.xlsx"/>

        <!-- DB Components -->
        <add key="Url" value="10.200.40.140"/>
        <add key="ID" value="fnguide"/>
        <add key="Password" value="Research09*"/>
        <add key="Name" value="FnXBRL"/>
      
        <!-- Connection String -->
        <add key="ConnStr" value="server={0};database={1};user id={2};password={3}" />
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
</configuration>
